/* You can add global styles to this file, and also import other style files */
/*

  COLOR SCHEME:

  1C77C3
  39A9DB
  40BCD8
  F39237
  D63230

*/

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
